.container-signup {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  gap: 10px;
  padding-top: 5%;

  position: relative;
}

.logo-and-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
}

.logo {
  width: 300px;
  height: auto;
  padding-top: 5%;
}

.app-title1 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  padding-top: 10%;
  font-family: "Itim", sans-serif;
  position: relative;
}
.app-title2 {
  font-size: 30px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
  padding-top: 10%;
  font-family: "Itim", sans-serif;
  position: relative;
  font-style: italic;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  font-family: "Itim", sans-serif;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.input-group {
  display: flex;
  align-items: center; /* จัดให้ label และ input อยู่ในแนวเดียวกัน */
  gap: 10px; /* ระยะห่างระหว่าง label และ input */
  font-family: "Itim", sans-serif;
}

.input-group label {
  width: 100px; /* กำหนดความกว้างของ label */
  font-size: 18px;
}

.signup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex: 1; /* ขยาย input field ให้กินพื้นที่ที่เหลือ */
}

.signup-form input:focus {
  border-color: #3b82f6;
  outline: none;
}

.sign-up {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 2px 0 #dc2626;
  font-family: "Itim", sans-serif;
}

.sign-up:hover {
  background-color: #dc2626;
}

.sign-up:active {
  top: 2px;
  box-shadow: none;
}

.custom-label {
  font-family: "Itim", sans-serif;
  font-size: 30px;
}
